$titillim : 'Titillium Web', sans-serif;
$arialFont: Arial, Helvetica, sans-serif;
$white: #ffffff;
$black: #000000;
$inputColor: #213559;
$inputBorderColor: #d0d0d0;
$buttonColor: #DD5A6A;
$formHedingColor: #213559;
$radialGradient: radial-gradient(50% 100%, #2EC4B8 0%, #6078EA 100%);
$headingColor: #22B78E;
$blue-color: #1D5AA6;
$book-btn: #004498;
